.container {
  width: 100%;
  padding-top: 100px;
  background: #313f38;
  .logo {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    .text1 {
      font-size: 100px;
    }
    .text2 {
      font-size: 20px;
      padding-top: 20px;
      color: white;
    }
    .img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    position: relative;
    padding-top: 350px;
    .text1 {
      width: 10px;
      position: absolute;
      padding-top: 60px;
      top: 2%;
      font-size: 10px;
    }
    .text1 span {
      font-size: 60px;
    }
    .text2 {
      font-size: 5px;
      text-align: center;
      left: 10px;
      position: absolute;
      top: 190px;
    }
  }
}
