nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  height: 80px;
  background-color: #FFCE45;
  position: fixed;
  width: 100%;
  top: 0;
  img {
    height: 60px;
    width: 60px;
    translate: 0 -5px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    a {
      text-decoration: none;
      color: #1e1e1e;
    }
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
  }
}
