nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background-color: #313f38;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 1s;
  .logo {
    a {
      text-decoration: none;
      font-size: 23px;
      color: white;
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    left: 270px;
    display: none;
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
  }
}

@media (max-width: 480px) {
  nav {
    height: 50vh;
    flex-direction: column;
    top: -100%;
    justify-content: center;
    gap: 20px;
    .menu-btn {
      display: block;
    }
    .links {
      font-size: 17px;
      width: 90%;
      gap: 14px;
      display: flex;
      text-align: center;
      flex-wrap: wrap;
    }
  }
}

