nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  height: 80px;
  background-color: #f1f08a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 1s;
  img {
    height: 60px;
    width: 60px;
    translate: 0 -5px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    a {
      text-decoration: none;
      color: #1e1e1e;
    }
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
  }
  button:hover {
    background-color: rgb(208, 29, 29);
    transform: 1s;
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    left: 290px;
    display: none;
  }
}

@media (max-width: 480px) {
  nav {
    height: 50vh;
    flex-direction: column;
    top: -100%;
    justify-content: center;
    gap: 20px;
    .menu-btn {
      display: block;
    }
  }
}
