.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  h1 {
    margin-bottom: 1rem;
  }

  .text {
    font-weight: bold;
    color: #ff0000;
  }

  p {
    max-width: 600px;
  }
  .rasm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    padding-top: 40px;

    img {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
  }
}

@media screen and (max-width:480px) {
  .first{
    width: 100%;
    .rasm {
      width: 100%;
      flex-direction: column;
    }
    h1 {
      padding-top: 50%;
      width: 50%;
    }
    p {
      width: 50%;
    }
  }
}