@import url("https://fonts.googleapis.com/css2?family=Nanum + Myeongjo:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baskervville SC", serif;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}
